@{
    string handlingController = this.ViewContext.RouteData.Values["controller"].ToString();
    string handlingMethod = this.ViewContext.RouteData.Values["action"].ToString();
}

@*solution below has a better performance than using in header tag class variable which contain required value
    TODO: MAKE BETTER SOLUTION FOR REPETITIVE ELEMENTS!!  *@


@if (handlingController == "Donation" && handlingMethod == "Donate")
{
    <header class="header--main-page">
        <nav class="container container--70">

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj @User.Identity.Name
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="#">Moje zbiórki</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav--actions">
                    <li><a asp-controller="Account" asp-action="Login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
                </ul>
            }

            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
                <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a asp-controller="Donation" asp-action="Donate" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>
        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Oddaj rzeczy, których już nie chcesz<br />
                    <span class="uppercase">potrzebującym</span>
                </h1>

                <div class="slogan--steps">
                    <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                    <ul class="slogan--steps-boxes">
                        <li>
                            <div><em>1</em><span>Wybierz rzeczy</span></div>
                        </li>
                        <li>
                            <div><em>2</em><span>Spakuj je w worki</span></div>
                        </li>
                        <li>
                            <div><em>3</em><span>Wybierz fundację</span></div>
                        </li>
                        <li>
                            <div><em>4</em><span>Zamów kuriera</span></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}
else if (handlingController == "Donation" && handlingMethod == "Confirmation")
{
    <header class="header--form-page">
        <nav class="container container--70">

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj @User.Identity.Name
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="#">Moje zbiórki</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav--actions">
                    <li><a asp-controller="Account" asp-action="Login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
                </ul>
            }

            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
                <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a asp-controller="Donation" asp-action="Donate" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>
        <div class="slogan container container--90">
            <h2>
                Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                informacje o odbiorze.
            </h2>
        </div>
    </header>
}
else if (handlingController == "Home" && handlingMethod == "Index")
{
    <header class="header--main-page">
        <nav class="container container--70">

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj @User.Identity.Name
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="#">Moje zbiórki</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav--actions">
                    <li><a asp-controller="Account" asp-action="Login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                    <li><a asp-controller="Account" asp-action="Register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
                </ul>
            }

        <ul>
            @if (User.IsInRole("Admin"))
            {
                <li><a asp-controller="Admin" asp-action="ShowUsers" class="btn btn--without-border active">Users</a></li>
                <li><a asp-controller="Admin" asp-action="ShowInstitution" class="btn btn--without-border active">Institutions</a></li>
            }
            <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
            <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a asp-controller="Donation" asp-action="Donate" class="btn btn--without-border">Przekaż dary</a></li>
            <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
        </nav>

        <div class="slogan container container--90">
            <div class="slogan--item">
                <h1>
                    Zacznij pomagać!<br />
                    Oddaj niechciane rzeczy w zaufane ręce
                </h1>
            </div>
        </div>
    </header>
}

else if (handlingController == "Account" && handlingMethod == "Register" || handlingMethod == "Login")
{
    <header>
        <nav class="container container--70">

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj @User.Identity.Name
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="#">Moje zbiórki</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            }

            <ul class="nav--actions">
                <li><a asp-controller="Account" asp-action="Login" class="btn btn--small btn--without-border">Zaloguj</a></li>
                <li><a asp-controller="Account" asp-action="Register" class="btn btn--small btn--highlighted">Załóż konto</a></li>
            </ul>

            <ul>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
                <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a asp-controller="Donation" asp-action="Donate" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>
    </header>
}


@*Header for Admins*@
else if (handlingController == "Admin")
{
    <header>
        <nav class="container container--70">

            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav--actions">
                    <li class="logged-user">
                        Witaj @User.Identity.Name
                        <ul class="dropdown">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Ustawienia</a></li>
                            <li><a href="#">Moje zbiórki</a></li>
                            <li><a asp-controller="Account" asp-action="Logout">Wyloguj</a></li>
                        </ul>
                    </li>
                </ul>
            }

            
            <ul>
                <li><a href="" class="btn btn--without-border active">SomeAdminAction...</a></li>
                <li><a asp-controller="Home" asp-action="Index" class="btn btn--without-border active">Start</a></li>
                <li><a href="#steps" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a href="#about-us" class="btn btn--without-border">O nas</a></li>
                <li><a href="#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a asp-controller="Donation" asp-action="Donate" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>
    </header>
}