@model DonationViewModel
@{
    ViewBag.Title = "Przekaż nam!";
    Layout = "_Layout";
}

<section class="form--steps">
    <div class="form--steps-instructions">
        <div class="form--steps-container">
            <h3>Ważne!</h3>
            <p data-step="1" class="active">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="2">
                Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                wiedzieć komu najlepiej je przekazać.
            </p>
            <p data-step="3">
                Wybierz jedną, do
                której trafi Twoja przesyłka.
            </p>
            <p data-step="4">Podaj adres oraz termin odbioru rzeczy.</p>
        </div>
    </div>

    <div class="form--steps-container">
        <div class="form--steps-counter">Krok <span>1</span>/4</div>

        <form asp-action="Donate">
            <!-- STEP 1: class .active is switching steps -->
            <div data-step="1" class="active">
                <h3>Zaznacz co chcesz oddać:</h3>

                @for (var i = 0; i < Model.CheckBoxItems.Count; i++)
                {
                    <div class="form-group form-group--checkbox">

                        <label>
                            <input asp-for="@Model.CheckBoxItems[i].IsChecked" type="checkbox" />
                            <span class="checkbox">
                                <input asp-for="@Model.CheckBoxItems[i].id" type="hidden" value=@Model.CheckBoxItems[i].id />
                            </span>
                            <input asp-for="@Model.CheckBoxItems[i].Text" type="hidden" value=@Model.CheckBoxItems[i].Text />
                            <span class="description">@Model.CheckBoxItems[i].Text</span>
                        </label>

                    </div>
                }

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 2 -->
            <div data-step="2">
                <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                <div class="form-group form-group--inline">
                    <label asp-for="Quantity">
                        Liczba 60l worków:
                        <input asp-for="Quantity" type="number" id="summary-bags" step="1" min="1" />
                    </label>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>



            <!-- STEP 3 -->
            <div data-step="3">
                <h3>Wybierz organizacje, której chcesz pomóc:</h3>

                @*@foreach (var organization in Model.Institutions)
                    {
                        <div class="form-group form-group--checkbox">*@
                @*<label>
                        <input asp-for="Institution" type="radio" value=@organization.Name />
                        <span class="checkbox radio"></span>
                        <span class="description">
                            <div class="title">@organization.Name</div>
                            <div class="subtitle">
                                @organization.Description
                            </div>
                        </span>
                    </label>*@

                @*<label>
                                @Html.RadioButtonFor(x => x.Institution.Id, organization.Id)
                                <input type="hidden" />
                                <input asp-for="Institution" type="radio" value=@organization.Name />
                                <span class="checkbox radio"></span>
                                <span class="description">
                                    <div class="title">@organization.Name</div>
                                    <div class="subtitle">
                                        @organization.Description
                                    </div>
                                </span>
                            </label>
                        </div>
                    }*@

                @for (int i = 0; i < Model.Institutions.Count; i++)
                {
                    <div class="form-group form-group--checkbox">

                        <label>
                            @*@Html.RadioButtonFor(x => x.Institution.Id, Model.Institutions[i].Id)
                            <input type="hidden" asp-for="@Model.Institutions[i].Name" />
                            <input type="hidden" asp-for="@Model.Institutions[i].Description" />
                            <input type="hidden" asp-for="@Model.Institutions[i].Id" />
                            <span class="checkbox radio"></span>
                            <span class="description">
                                <div class="title">@Model.Institutions[i].Name</div>
                                <div class="subtitle">
                                    @Model.Institutions[i].Description
                                </div>
                            </span>*@

                            <label>
                                @*@Html.RadioButtonFor(x => x.Institution.Name, @Model.Institutions[i].Name)
                                <input asp-for="@Model.Institutions[i].Id" type="radio" />  chyba do wywalniea przetestować czy name przekaze value do kontrolera*@

                                @Html.RadioButtonFor(x => x.Institution.Id, @Model.Institutions[i].Id)
                                <span class="checkbox radio"></span>
                                <span class="description">
                                    @*<input type="hidden" asp-for="@Model.Institutions[i].Id" value="@Model.Institutions[i].Id" />
                                    <input type="hidden" asp-for="@Model.Institutions[i].Description" value="@Model.Institutions[i].Description" />*@
                                    <input type="hidden" asp-for="@Model.Institutions[i].Name" value="@Model.Institutions[i].Name"/>
                                    <div class="title" id="summary-institution">@Model.Institutions[i].Name</div>
                                    <div class="subtitle">
                                        @Model.Institutions[i].Description
                                    </div>
                                </span>
                                
                                


                                @*@Html.RadioButton(@Model.Institutions[i].Id.ToString(), @Model.Institutions[i].Id)
                                @Html.RadioButton(@Model.Institutions[i].Name, @Model.Institutions[i].Name, new { @type = "hidden" })
                                @Html.RadioButton(@Model.Institutions[i].Description, @Model.Institutions[i].Description, new { @type = "hidden" })
                                <span class="checkbox radio"></span>
                                <span class="description">
                                    <input type="hidden" asp-for="@Model.Institutions[i].Id" value="@Model.Institutions[i].Id" />
                                    <input type="hidden" asp-for="@Model.Institutions[i].Description" value="@Model.Institutions[i].Description" />
                                    <input type="hidden" asp-for="@Model.Institutions[i].Name" value="@Model.Institutions[i].Name" />
                                    <div class="title">@Model.Institutions[i].Name</div>
                                    <div class="subtitle">
                                        @Model.Institutions[i].Description
                                    </div>
                                </span>*@


                            </label>

                        </label>
                    </div>
                }


                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step">Dalej</button>
                </div>
            </div>

            <!-- STEP 4 -->
            <div data-step="4">
                <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                <div class="form-section form-section--columns">
                    <div class="form-section--column">
                        <h4>Adres odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label asp-for="Street"> Ulica <input asp-for="Street" type="text" id="summary-street" /> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Miasto <input asp-for="City" type="text" id="summary-city" /> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Kod pocztowy <input asp-for="ZipCode" type="text" id="summary-zipcode" />
                            </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Numer telefonu <input asp-for="PhoneNumber" type="phone" id="summary-phonenumber" />
                            </label>
                        </div>
                    </div>

                    <div class="form-section--column">
                        <h4>Termin odbioru</h4>
                        <div class="form-group form-group--inline">
                            <label> Data <input asp-for="PickUpDate" type="date" id="summary-pickupdate" /> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label> Godzina <input asp-for="PickUpTime" type="time" id="summary-pickuptime" /> </label>
                        </div>

                        <div class="form-group form-group--inline">
                            <label>
                                Uwagi dla kuriera
                                <textarea asp-for="PickUpComment" rows="5" id="summary-pickupcomment"></textarea>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="button" class="btn next-step" id="summary">Dalej</button>
                </div>
            </div>


            <!--
                Zmienne ID:
                summary             -> dla ostatniego przycisku "dalej"
                summary-bags        -> tam gdzie wpisujemy wartość worków
                summary-bags-output -> tutaj ma się pojawić nasz .innerHTML z przypisaną wartością
            -->
            <!-- STEP 5 -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(document).ready(function () {
                    $("#summary").click(function () {

                        var SlecectedFoundation = $("input[id='Id']:checked").val();
                        //var SlecectedFoundation = $("#summary-institution").val();
                        var QuantityBags = $("#summary-bags").val();
                        var Street = $("#summary-street").val();
                        var City = $("#summary-city").val();
                        var ZipCode = $("#summary-zipcode").val();
                        var PhoneNumber = $("#summary-phonenumber").val();
                        var PickupDate = $("#summary-pickupdate").val();
                        var PickupTime = $("#summary-pickuptime").val();
                        var Comment = $("#summary-pickupcomment").val();


                        document.getElementById("summary-institution-output").innerHTML = SlecectedFoundation;
                        document.getElementById("summary-bags-output").innerHTML = QuantityBags;
                        document.getElementById("summary-street-output").innerHTML = Street;
                        document.getElementById("summary-city-output").innerHTML = City;
                        document.getElementById("summary-zipcode-output").innerHTML = ZipCode;
                        document.getElementById("summary-phonenumber-output").innerHTML = PhoneNumber;
                        document.getElementById("summary-pickupdate-output").innerHTML = PickupDate;
                        document.getElementById("summary-pickuptime-output").innerHTML = PickupTime;
                        document.getElementById("summary-pickupcomment-output").innerHTML = Comment;

                    });
                });
            </script>



            <div data-step="5">
                <h3>Podsumowanie Twojej darowizny</h3>

                <div class="summary">
                    <div class="form-section">
                        <h4>Oddajesz:</h4>
                        <ul>
                            <li>
                                <span class="icon icon-bag"></span>
                                <span class="summary--text" id="summary-bags-output"></span>
                            </li>

                            <li>
                                <span class="icon icon-hand"></span>
                                <span class="summary--text" id="summary-institution-output"></span>
                            </li>
                        </ul>
                    </div>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru:</h4>
                            <ul>
                                <li id="summary-street-output">Prosta 51</li>
                                <li id="summary-city-output">Warszawa</li>
                                <li id="summary-zipcode-output">99-098</li>
                                <li id="summary-phonenumber-output">123 456 789</li>
                            </ul>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru:</h4>
                            <ul>
                                <li id="summary-pickupdate-output">13/12/2018</li>
                                <li id="summary-pickuptime-output">15:40</li>
                                <li id="summary-pickupcomment-output">Brak uwag</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-group form-group--buttons">
                    <button type="button" class="btn prev-step">Wstecz</button>
                    <button type="submit" class="btn">Potwierdzam</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script src="js/app.js"></script>